require("@nomiclabs/hardhat-ethers");
require("@openzeppelin/hardhat-upgrades");

module.exports = {
  solidity: {
    version: "0.8.28", 
    settings: {
      optimizer: {
        enabled: true,
        runs: 200
      }
    }
  },
  networks: {
    celo: {
      url: "https://forno.celo.org", 
      accounts: [
        "0xa7337e9c144ee5df6cfd07b6366824ade65e8ed3b4ae56a53ac2de396668c15b"  
      ]
    }
  }
};
